/.DS_Store
/FTP Code.txt
/Mockup Example - Project 1.jpg
/Project 1 - Text.txt
/Wireframe P1 A.jpg
/Wireframe P1 B.jpg
/XD Mockup - Project 1 - Restaurant.xd
/background-adare-restaurant.jpg
/index.html
/logo-adare-restaurant.png
/style.css